modules = ["nodejs-23", "nix", "postgresql-17"]

[workflows]
runButton = "WhatsApp Bot"

[[workflows.workflow]]
name = "WhatsApp Bot"
author = 46278443
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd bot-wa-custom && node server.js"

[[ports]]
localPort = 5000
externalPort = 80
